
	<select id="pick_leaderboard" class="select_style" name="leaderboard" >
		<% @leaderboard_list.each do |leaderboard| %>
		<option value="<%= leaderboard[0] %>"><%= leaderboard[0] %></option>
		<%end%>
	</select>


<script>

	 		$("#pick_leaderboard").change(function(){
	 			
	 			if($(this).val().substring(0,22) == "Create New Leaderboard"){
	 				$("#create_leaderboard").stop().fadeIn();

	 			}else{
	 				$("#create_leaderboard").hide();
	 			}
	 		});

</script>

