  <div id="overlay_upload_info">
    <p>
    Make sure the file format of your video is supported. If you continue to experience problems, feel free to <a href="#" rel="#overlay_contact">contact the skillmad team.</a>
    </p>
  </div>
 
