/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, ../../app/assets/stylesheets/custom.css.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../app/assets/stylesheets/custom.css.scss */
input:active {
  outline: none;
  border: 0;
}

/* line 9, ../../app/assets/stylesheets/custom.css.scss */
input:visited {
  outline: none;
  border: 0;
}

/* line 14, ../../app/assets/stylesheets/custom.css.scss */
a:focus {
  outline: none;
  border: 0;
}

/* line 19, ../../app/assets/stylesheets/custom.css.scss */
.button input:focus, .button input:active {
  outline: none;
  border: 0;
}

/* removing dotted line on buttons and clickable input elements for Firefox */
/* line 25, ../../app/assets/stylesheets/custom.css.scss */
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}

/* Remove outline on buttons and clickable input elements for WebKit Browsers & IE8 */
/* line 29, ../../app/assets/stylesheets/custom.css.scss */
input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button {
  outline: none;
}

/* line 30, ../../app/assets/stylesheets/custom.css.scss */
body {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 34, ../../app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
}

/* line 37, ../../app/assets/stylesheets/custom.css.scss */
#header {
  min-width: 1230px;
  width: 100%;
  height: 90px;
  background-image: url(header_back.gif);
}

/* line 44, ../../app/assets/stylesheets/custom.css.scss */
#backtotop a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* line 50, ../../app/assets/stylesheets/custom.css.scss */
#header_container {
  width: 960px;
  margin: auto;
  min-width: 850px;
  padding-left: 32px;
}

/* line 56, ../../app/assets/stylesheets/custom.css.scss */
#header_logo {
  margin: 19px 22px 12px 40px;
  width: 340px;
  height: 69px;
  background-image: url(header_logo.png);
  float: left;
}

/* line 63, ../../app/assets/stylesheets/custom.css.scss */
#header_login {
  margin: 40px 0 0 28px;
  width: 85px;
  height: 35px;
  background-image: url(header_login.gif);
  float: left;
}

/* line 71, ../../app/assets/stylesheets/custom.css.scss */
#header_logout {
  margin: 40px 0 0 28px;
  width: 112px;
  height: 35px;
  background-image: url(header_logout.gif);
  float: left;
}

/* line 79, ../../app/assets/stylesheets/custom.css.scss */
#header_login:hover {
  background-image: url(header_login_hover.gif);
}

/* line 83, ../../app/assets/stylesheets/custom.css.scss */
#header_logout:hover {
  background-image: url(header_logout_hover.gif);
}

/* line 86, ../../app/assets/stylesheets/custom.css.scss */
.header_link {
  margin-top: 25px;
  margin-left: 24px;
  float: left;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 93, ../../app/assets/stylesheets/custom.css.scss */
.header_link a {
  display: block;
  color: #e1e1e1;
  text-decoration: none;
}

/* line 98, ../../app/assets/stylesheets/custom.css.scss */
.header_link a:hover {
  color: white;
  text-shadow: 0 0 0.1em #dda8a8;
}

/* line 102, ../../app/assets/stylesheets/custom.css.scss */
.background {
  padding: 54px 0 34px 0;
  width: auto;
  background-color: #ededed;
}

/* line 107, ../../app/assets/stylesheets/custom.css.scss */
#background {
  padding: 10px 0 34px 0;
  width: auto;
  background-color: #ededed;
}

/* line 112, ../../app/assets/stylesheets/custom.css.scss */
#background_overlay {
  background-image: url(back.png);
  padding-left: 8px;
  padding-top: 8px;
  width: 845px;
  height: 472px;
  float: left;
}

/* line 121, ../../app/assets/stylesheets/custom.css.scss */
#header_container a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 127, ../../app/assets/stylesheets/custom.css.scss */
#overlay_login, #overlay_join, #overlay_upload, #overlay_profile, #overlay_request, #overlay_contact {
  font-family: Arial, Helvetica, sans-serif;
  color: #6d0001;
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  width: 960px;
  min-height: 200px;
  margin-top: 45px;
  border: 1px solid #cccccc;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 40px 4px black;
  -webkit-box-shadow: 0 0 40px 4px black;
  box-shadow: 0 0 40px 4px black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top right, white 0%, #ebebeb 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top right, white 0%, #ebebeb 100%);
  /* Opera */
  background-image: -o-linear-gradient(top right, white 0%, #ebebeb 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, white), color-stop(1, #ebebeb));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top right, white 0%, #ebebeb 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom left, white 0%, #ebebeb 100%);
}

/* line 172, ../../app/assets/stylesheets/custom.css.scss */
#overlay_login .close, #overlay_join .close, #overlay_upload .close, #overlay_profile .close, #overlay_view_profile .close, #overlay_request .close, #overlay_contact .close {
  background-image: url(close.png);
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

/* line 181, ../../app/assets/stylesheets/custom.css.scss */
#form_join {
  width: 470px;
  float: left;
}

/* line 185, ../../app/assets/stylesheets/custom.css.scss */
#form_login {
  width: 480px;
  float: left;
}

/* line 189, ../../app/assets/stylesheets/custom.css.scss */
#form_divider {
  float: left;
  width: 1px;
  height: 300px;
  margin-top: 25px;
  background-color: #d8d8d8;
}

/* line 197, ../../app/assets/stylesheets/custom.css.scss */
#header_upload {
  cursor: pointer;
  background-image: url(header_upload.gif);
  height: 35px;
  width: 117px;
  float: left;
  margin-top: 40px;
  margin-left: 28px;
}

/* line 207, ../../app/assets/stylesheets/custom.css.scss */
#header_upload:hover {
  background-image: url(header_upload_hover.gif);
}

/* line 210, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_back {
  min-width: 1230px;
  border-top: 1px solid #999791;
  background-color: #6B0001;
  width: 100%;
  height: 1600px;
  clear: both;
  margin-top: 10px;
}

/* line 221, ../../app/assets/stylesheets/custom.css.scss */
#footer, #footer_light {
  margin: 40px auto;
  width: 340px;
  height: 60px;
  background-image: url(trans.png);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  font-family: Arial,Helvetica,sans-serif;
  color: #DDCCCC;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 0 #222222;
  padding: 12px;
}

/* line 236, ../../app/assets/stylesheets/custom.css.scss */
#footer a {
  color: #DDCCCC;
  text-decoration: none;
}

/* line 241, ../../app/assets/stylesheets/custom.css.scss */
#footer_light a {
  color: #6B0001;
  text-decoration: none;
}

/* line 245, ../../app/assets/stylesheets/custom.css.scss */
#footer a:hover {
  text-shadow: 0px 0px 0.1em white;
}

/* line 248, ../../app/assets/stylesheets/custom.css.scss */
#footer_light a:hover {
  text-shadow: 0px 0px 0.1em white;
}

/* line 251, ../../app/assets/stylesheets/custom.css.scss */
#footer_light {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: #6B0001;
  text-shadow: none;
}

/* line 257, ../../app/assets/stylesheets/custom.css.scss */
#clearfooter {
  height: 100px;
  position: relative;
}

/* line 263, ../../app/assets/stylesheets/custom.css.scss */
.push {
  height: 110px;
}

/* line 266, ../../app/assets/stylesheets/custom.css.scss */
.footer_wrapper {
  height: 560px;
  margin: 0 auto -4em;
}

/* line 270, ../../app/assets/stylesheets/custom.css.scss */
#footer h2, #footer_light h2 {
  margin-top: 15px;
  font-size: 16px;
}

/* line 274, ../../app/assets/stylesheets/custom.css.scss */
#footer ul li, #footer_light ul li {
  text-transform: uppercase;
  font-size: 15px;
  display: inline;
  padding: 0 1px;
}

/* line 280, ../../app/assets/stylesheets/custom.css.scss */
#upload_close {
  display: none;
  background-image: url(close.png);
  position: absolute;
  cursor: pointer;
  height: 26px;
  width: 26px;
  top: 122px;
  right: 550px;
  z-index: 99999999;
}

/* line 294, ../../app/assets/stylesheets/custom.css.scss */
textarea {
  clear: right;
  margin-bottom: 15px;
  background-color: #600001;
  border: solid 1px #2f393f;
  padding: 4px;
  font-size: 16px;
  color: white;
  height: 150px;
  resize: none;
}

/* line 305, ../../app/assets/stylesheets/custom.css.scss */
label {
  color: #6d0001;
  padding-top: 0px;
  clear: left;
  float: left;
  text-transform: uppercase;
}

/* line 312, ../../app/assets/stylesheets/custom.css.scss */
#overlay_login label {
  margin-left: 20px;
  width: 120px;
  font-size: 14px;
}

/* line 318, ../../app/assets/stylesheets/custom.css.scss */
#overlay_join label {
  margin-left: 10px;
  width: 120px;
}

/* line 323, ../../app/assets/stylesheets/custom.css.scss */
#join label.error {
  font-size: 14px;
  float: right;
  margin-top: -66px;
}

/* line 330, ../../app/assets/stylesheets/custom.css.scss */
#login label.error {
  font-size: 14px;
  float: right;
  margin-top: -66px;
}

/* line 336, ../../app/assets/stylesheets/custom.css.scss */
.scrollable {
  margin: 5px 0 30px 0;
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 665px;
  height: 175px;
  float: left;
}

/* line 346, ../../app/assets/stylesheets/custom.css.scss */
.scrollable .items {
  /* this cannot be too large */
  width: 20000em;
  position: absolute;
}

/* line 352, ../../app/assets/stylesheets/custom.css.scss */
#scroll_container {
  clear: both;
  margin: 140px auto 0 auto;
  width: 855px;
  height: 170px;
}

/* line 355, ../../app/assets/stylesheets/custom.css.scss */
#scroll_container h3 {
  font-size: 24px;
  font-weight: normal;
  padding-left: 95px;
  padding-bottom: 6px;
  float: left;
}

/* line 362, ../../app/assets/stylesheets/custom.css.scss */
.items div {
  position: relative;
}

/* line 365, ../../app/assets/stylesheets/custom.css.scss */
.items_inner div.items_description {
  position: absolute;
  /* absolute position (so we can position it where we want)*/
  bottom: 0px;
  /* position will be on bottom */
  left: 0px;
  display: none;
  /* hide it */
  /* styling bellow */
  background-color: black;
  font-size: 15px;
  color: white;
  width: 204px;
  height: 40px;
  margin: 0;
}

/* line 379, ../../app/assets/stylesheets/custom.css.scss */
.items_inner div.items_description_content {
  height: 20px;
  width: 204px;
  margin: 0;
  border: none;
}

/* prev, next, prevPage and nextPage buttons */
/* line 387, ../../app/assets/stylesheets/custom.css.scss */
.browse {
  margin: 50px 0 0 0;
  cursor: pointer;
  display: block;
  float: left;
  width: 60px;
  height: 69px;
  font-size: 1px;
  clear: both;
}

/* right */
/* line 398, ../../app/assets/stylesheets/custom.css.scss */
a.right {
  background: url(next.gif);
  clear: none;
  float: right;
}

/* line 403, ../../app/assets/stylesheets/custom.css.scss */
a.right:hover {
  background: url(next_hover.gif);
}

/* left */
/* line 408, ../../app/assets/stylesheets/custom.css.scss */
a.left {
  background: url(back.gif);
  margin-right: 32px;
}

/* line 412, ../../app/assets/stylesheets/custom.css.scss */
a.left:hover {
  background: url(back_hover.gif);
}

/* line 416, ../../app/assets/stylesheets/custom.css.scss */
.scrollable_item {
  margin: 5px;
  padding: 5px;
  height: 175px;
  width: 275px;
}

/* line 423, ../../app/assets/stylesheets/custom.css.scss */
.items_inner {
  width: 700px;
  height: 175px;
  float: left;
}

/* line 430, ../../app/assets/stylesheets/custom.css.scss */
.items_inner div {
  /*
    background-image: url(dot.png);
  background-repeat: repeat;
  */
  border: 1px solid black;
  margin: 0 8px;
  float: left;
  width: 205px;
  height: 161px;
}

/* line 441, ../../app/assets/stylesheets/custom.css.scss */
.footer_line {
  background-image: url(footer_line.gif);
  float: left;
  height: 221px;
  width: 2px;
  margin-top: 30px;
}

/* line 449, ../../app/assets/stylesheets/custom.css.scss */
#box {
  margin: auto;
  color: #6d0001;
  background-color: #ededed;
  width: 540px;
  min-height: 300px;
  border: 1px solid #6d0001;
}

/* line 457, ../../app/assets/stylesheets/custom.css.scss */
#box .button {
  margin-left: 93px;
  margin-top: 20px;
}

/* line 461, ../../app/assets/stylesheets/custom.css.scss */
#box form {
  width: 400px;
  text-align: center;
}

/* line 465, ../../app/assets/stylesheets/custom.css.scss */
.new_video {
  width: 360px;
  margin-left: 46px;
}

/* line 469, ../../app/assets/stylesheets/custom.css.scss */
#box h1 {
  margin: 8px;
  font-size: 34px;
  color: #efefef;
  text-shadow: 0px 2px 0px #323436;
}

/* line 476, ../../app/assets/stylesheets/custom.css.scss */
#box label {
  width: 85px;
  text-align: right;
  float: left;
  clear: both;
  margin-top: 5px;
  margin-right: 5px;
}

/* line 485, ../../app/assets/stylesheets/custom.css.scss */
#video_container {
  width: 1230px;
  max-height: 500px;
  margin: auto;
}

/* line 491, ../../app/assets/stylesheets/custom.css.scss */
#video_container h1 {
  margin-bottom: 2px;
  font-size: 32px;
  color: #0f0f0f;
  font-weight: normal;
  text-decoration: none;
}

/* line 499, ../../app/assets/stylesheets/custom.css.scss */
#video_container {
  width: 1230px;
  max-height: 500px;
  margin: auto;
}

/* line 505, ../../app/assets/stylesheets/custom.css.scss */
#vidswitch {
  margin-top: 4px;
  text-align: right;
  color: #0f0f0f;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  float: right;
  padding-right: 102px;
}

/* line 515, ../../app/assets/stylesheets/custom.css.scss */
#vidswitch a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 14px;
}

/* line 520, ../../app/assets/stylesheets/custom.css.scss */
#vidswitch a:hover {
  color: #600001;
}

/* line 523, ../../app/assets/stylesheets/custom.css.scss */
#vidswitch .active_menu {
  color: #600001;
}

/* line 527, ../../app/assets/stylesheets/custom.css.scss */
#video_info {
  padding-top: 5px;
  clear: both;
  margin: auto;
  width: 838px;
  height: 124px;
  background-image: url(info_back.gif);
  background-repeat: no-repeat;
  background-position: bottom;
}

/* line 537, ../../app/assets/stylesheets/custom.css.scss */
#video_info_left {
  width: 495px;
  height: 120px;
  float: left;
  padding-left: 8px;
}

/* line 544, ../../app/assets/stylesheets/custom.css.scss */
#video_info_left h3 {
  font-size: 13px;
  margin-bottom: 3px;
  color: #AAA;
  clear: left;
}

/* line 550, ../../app/assets/stylesheets/custom.css.scss */
#video_info_left p {
  font-size: 14px;
  color: #222;
}

/* line 554, ../../app/assets/stylesheets/custom.css.scss */
#video_info_right {
  width: 300px;
  height: 120px;
  float: right;
}

/* line 560, ../../app/assets/stylesheets/custom.css.scss */
#video_info_right img {
  margin-left: 10px;
  float: right;
}

/* line 564, ../../app/assets/stylesheets/custom.css.scss */
#video_info_right h2 {
  margin: 0;
  float: none;
  margin-top: 4px;
  text-align: right;
  font-size: 24px;
}

/* line 571, ../../app/assets/stylesheets/custom.css.scss */
#video_info_right h2:hover {
  color: #0f0f0f;
}

/* line 574, ../../app/assets/stylesheets/custom.css.scss */
#video_info_right h3 {
  font-size: 20px;
  text-align: right;
  color: #600001;
}

/* line 579, ../../app/assets/stylesheets/custom.css.scss */
#upload textarea {
  clear: left;
  float: left;
  width: 200px;
  resize: none;
}

/* line 585, ../../app/assets/stylesheets/custom.css.scss */
#vote {
  float: left;
  width: 167px;
  height: 450px;
  padding: 12px 0 0 20px;
}

/* line 592, ../../app/assets/stylesheets/custom.css.scss */
#vote_fake {
  float: left;
  width: 188px;
  height: 470px;
}

/* line 597, ../../app/assets/stylesheets/custom.css.scss */
.vote_arrow {
  background-repeat: no-repeat;
  width: 167px;
  height: 178px;
  display: block;
}

/* line 603, ../../app/assets/stylesheets/custom.css.scss */
.pressed {
  opacity: 0.45;
  cursor: default;
  filter: alpha(opacity=45);
}

/* line 608, ../../app/assets/stylesheets/custom.css.scss */
#vote_mad {
  background-image: url(arrow_mad.gif);
}

/* line 611, ../../app/assets/stylesheets/custom.css.scss */
#vote_mad:hover {
  background-image: url(arrow_mad_hover.gif);
}

/* line 614, ../../app/assets/stylesheets/custom.css.scss */
#vote_bad {
  background-image: url(arrow_bad.gif);
}

/* line 617, ../../app/assets/stylesheets/custom.css.scss */
#vote_bad:hover {
  background-image: url(arrow_bad_hover.gif);
}

/* line 620, ../../app/assets/stylesheets/custom.css.scss */
#vote_counter {
  display: block;
  color: #6d0001;
  text-align: center;
  font-size: 32px;
  margin: 20px 0 20px 0;
  text-shadow: 1px 1px 0 #cccccc, 2px 2px 0 #222222;
}

/* line 631, ../../app/assets/stylesheets/custom.css.scss */
#profile {
  margin-right: 10px;
  height: 90px;
  width: 85px;
  float: left;
  text-align: center;
}

/* line 638, ../../app/assets/stylesheets/custom.css.scss */
#profile_back {
  position: relative;
  top: -85px;
  height: 90px;
  width: 85px;
  background-image: url(trans.png);
  background-repeat: repeat;
  display: none;
}

/* line 647, ../../app/assets/stylesheets/custom.css.scss */
#profile img {
  margin-top: 6px;
  width: 60px;
  height: 60px;
}

/* line 652, ../../app/assets/stylesheets/custom.css.scss */
#profile h3, .leader_thumb_link {
  color: #eceae1;
  font-size: 12px;
  text-decoration: none;
}

/* line 657, ../../app/assets/stylesheets/custom.css.scss */
.leader_thumb_link h4 {
  position: relative;
  top: -20px;
  text-align: center;
  clear: both;
}

/* line 663, ../../app/assets/stylesheets/custom.css.scss */
.leader_thumb_link h4:hover {
  text-decoration: underline;
}

/* line 666, ../../app/assets/stylesheets/custom.css.scss */
#animation {
  margin-top: 20px;
}

/* line 669, ../../app/assets/stylesheets/custom.css.scss */
.active {
  display: block;
}

/* line 673, ../../app/assets/stylesheets/custom.css.scss */
.inactive {
  display: none;
}

/* line 676, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_all {
  width: 47px;
  height: 22px;
  float: left;
  margin: 114px 0 24px 24px;
  background-image: url(all.gif);
  cursor: pointer;
}

/* line 684, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard {
  margin: auto;
  margin-top: 50px;
  width: 751px;
  min-height: 300px;
}

/* line 690, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_title {
  margin: 100px 0 24px 34px;
  width: 199px;
  height: 38px;
  background-image: url(leaderboard_title.gif);
  float: left;
  cursor: pointer;
}

/* line 698, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_request {
  background-image: url(trans.png);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 38px;
}

/* line 703, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_request, #backtotop {
  padding-top: 5px;
  width: 130px;
  float: right;
  margin: 95px 12px 0 0px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

/* line 713, ../../app/assets/stylesheets/custom.css.scss */
#backtotop {
  width: 16px;
  height: 17px;
  background: url(backtotop.png);
  position: fixed;
  left: 50%;
  margin-left: 410px;
  margin-top: 20px;
  top: 0;
  display: none;
}

/* line 724, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_request a, #backtotop a {
  color: #ebe8df;
  text-shadow: 1px 1px 0 #260000, 1px 1px 0 #260000;
  text-decoration: none;
}

/* line 731, ../../app/assets/stylesheets/custom.css.scss */
#leaderboard_request a:hover {
  text-shadow: 2px 2px 0 #260000;
}

/* line 735, ../../app/assets/stylesheets/custom.css.scss */
.leader {
  margin-top: 26px;
  background-image: url(leaderboard_back.gif);
  background-repeat: repeat-x;
  position: relative;
  width: 751px;
  height: 223px;
  background-color: black;
  clear: both;
}

/* line 745, ../../app/assets/stylesheets/custom.css.scss */
.leader h3 {
  padding-top: 10px;
  color: #990003;
  font-size: 2em;
  display: block;
  float: left;
  width: 67px;
  text-align: center;
  text-shadow: 1px 1px 0 black;
}

/* line 756, ../../app/assets/stylesheets/custom.css.scss */
.leader_pic {
  margin-top: 14px;
  float: left;
  width: 185px;
  height: 185px;
  text-align: center;
}

/* line 764, ../../app/assets/stylesheets/custom.css.scss */
.leader_pic img {
  border: 1px solid #6b0001;
}

/* line 767, ../../app/assets/stylesheets/custom.css.scss */
.leader_info {
  margin-left: 20px;
  float: left;
  width: 225px;
  padding-top: 11px;
}

/* line 774, ../../app/assets/stylesheets/custom.css.scss */
.leader_info h1 {
  font-size: 24px;
}

/* line 777, ../../app/assets/stylesheets/custom.css.scss */
.leader_info h2 {
  font-size: 20px;
  color: #600001;
}

/* line 781, ../../app/assets/stylesheets/custom.css.scss */
.leader_info p {
  padding-top: 5px;
  font-size: 14px;
}

/* line 785, ../../app/assets/stylesheets/custom.css.scss */
.leader_divider {
  width: 1px;
  height: 189px;
  margin: 10px 10px 0 20px;
  float: left;
  background: url(leaderboard_divider.gif);
}

/* line 792, ../../app/assets/stylesheets/custom.css.scss */
.leader_videos {
  text-align: center;
  margin-top: 12px;
  width: 200px;
  height: 180px;
  float: left;
}

/* line 799, ../../app/assets/stylesheets/custom.css.scss */
.leader_videos h2 {
  font-size: 18px;
  margin-bottom: 9px;
}

/* line 803, ../../app/assets/stylesheets/custom.css.scss */
.leader_videos h5, h6 {
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
  color: #bab7b1;
  text-shadow: 1px 1px 0 white;
  margin-top: 5px;
}

/* line 812, ../../app/assets/stylesheets/custom.css.scss */
.leader_videos h5 {
  text-align: center;
  float: left;
  width: 160px;
}

/* line 817, ../../app/assets/stylesheets/custom.css.scss */
.leader_videos h6 {
  text-align: right;
  float: right;
  width: 40px;
}

/* line 822, ../../app/assets/stylesheets/custom.css.scss */
.leader_videos a {
  text-align: right;
}

/* line 825, ../../app/assets/stylesheets/custom.css.scss */
.leader ol, .leader ol a {
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  color: #3f3f3c;
  text-decoration: none;
}

/* line 832, ../../app/assets/stylesheets/custom.css.scss */
.leader ol a {
  font-weight: bold;
  padding-left: 8px;
}

/* line 836, ../../app/assets/stylesheets/custom.css.scss */
.leader ol a:hover {
  text-decoration: underline;
}

/* line 839, ../../app/assets/stylesheets/custom.css.scss */
.leader li {
  margin-top: 6px;
}

/* line 842, ../../app/assets/stylesheets/custom.css.scss */
.leader li span {
  float: right;
}

/* line 845, ../../app/assets/stylesheets/custom.css.scss */
.leader_bottom {
  width: 751px;
  height: 7px;
  background-image: url(leaderboard_back_bottom.gif);
  position: absolute;
  bottom: 0;
}

/* line 852, ../../app/assets/stylesheets/custom.css.scss */
.leader_left {
  width: 5px;
  height: 216px;
  background-image: url(leaderboard_back_left.gif);
  position: absolute;
  top: 0;
  left: 0;
}

/* line 860, ../../app/assets/stylesheets/custom.css.scss */
.leader_right {
  width: 11px;
  height: 216px;
  background-image: url(leaderboard_back_right.gif);
  position: absolute;
  top: 0;
  right: 0;
}

/* line 868, ../../app/assets/stylesheets/custom.css.scss */
.leader_see_all {
  color: #3f3f3c;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-top: 6px;
  float: right;
  font-weight: bold;
}

/* line 877, ../../app/assets/stylesheets/custom.css.scss */
.leader_see_all:hover {
  text-decoration: underline;
}

/* line 881, ../../app/assets/stylesheets/custom.css.scss */
#form_login .button {
  margin-top: 145px;
  margin-left: -207px;
  float: none;
}

/* line 889, ../../app/assets/stylesheets/custom.css.scss */
#form_join .button {
  margin: 30px 0 40px 145px;
  float: left;
}

/* line 893, ../../app/assets/stylesheets/custom.css.scss */
#overlay_contact {
  text-align: center;
  padding: 30px;
  padding-right: 55px;
  width: 336px;
  height: 440px;
  display: none;
  margin: auto;
}

/* line 902, ../../app/assets/stylesheets/custom.css.scss */
#overlay_request {
  text-align: center;
  padding: 30px;
  padding-right: 55px;
  width: 336px;
  height: 450px;
  display: none;
  margin: auto;
}

/* line 911, ../../app/assets/stylesheets/custom.css.scss */
#overlay_request input, #overlay_contact input {
  clear: left;
}

/* line 914, ../../app/assets/stylesheets/custom.css.scss */
#overlay_request textarea, #overlay_contact textarea {
  clear: left;
  float: left;
  resize: none;
}

/* line 919, ../../app/assets/stylesheets/custom.css.scss */
#overlay_request label, #overlay_contact label {
  text-transform: none;
}

/* line 922, ../../app/assets/stylesheets/custom.css.scss */
#overlay_request .button, #overlay_contact .button {
  margin-top: 20px;
  margin-left: 80px;
}

/* line 926, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile {
  padding: 20px;
  padding-right: 55px;
  width: 770px;
  height: 580px;
  display: none;
  margin: auto;
  top: 20px;
}

/* line 935, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* line 939, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile img {
  float: left;
  margin: 20px;
  margin-left: 84px;
  border: 1px solid #cccccc;
}

/* line 945, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile img:hover {
  border: 1px solid #600001;
}

/* line 948, ../../app/assets/stylesheets/custom.css.scss */
#form_info {
  padding: 0;
  width: 400px;
  float: right;
}

/* line 953, ../../app/assets/stylesheets/custom.css.scss */
#form_info textarea {
  width: 330px;
  float: right;
  height: 125px;
  resize: none;
}

/* line 959, ../../app/assets/stylesheets/custom.css.scss */
#form_pic {
  padding: 0 0 0 10px;
  width: 330px;
  clear: left;
  float: left;
}

/* line 965, ../../app/assets/stylesheets/custom.css.scss */
#form_pic label.error {
  margin-top: 4px;
  float: left;
}

/* line 970, ../../app/assets/stylesheets/custom.css.scss */
#form_file #form_file {
  border: none;
}

/* line 973, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile label {
  float: right;
  clear: right;
}

/* line 977, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile input {
  float: right;
  width: 330px;
}

/* line 981, ../../app/assets/stylesheets/custom.css.scss */
#overlay_profile .button {
  width: 201px;
}

/* line 985, ../../app/assets/stylesheets/custom.css.scss */
#form_info .button {
  margin-right: 70px;
}

/* line 988, ../../app/assets/stylesheets/custom.css.scss */
#form_pic .button {
  margin-right: 113px;
  margin-top: 25px;
}

/* line 992, ../../app/assets/stylesheets/custom.css.scss */
#hover_images {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 997, ../../app/assets/stylesheets/custom.css.scss */
.notice {
  color: #fff;
  border: 1px solid;
  width: 500px;
  margin: 20px auto;
  padding: 8px;
  padding-left: 43px;
  cursor: pointer;
}

/* line 1006, ../../app/assets/stylesheets/custom.css.scss */
.notice span {
  display: block;
  float: right;
  background: url(close2.png);
  width: 18px;
  height: 18px;
}

/* line 1013, ../../app/assets/stylesheets/custom.css.scss */
#success {
  background: #42a659 url(success.png) 15px 50% no-repeat;
  border: #1B6E2E;
}

/* line 1018, ../../app/assets/stylesheets/custom.css.scss */
#success a {
  color: white;
}

/* line 1021, ../../app/assets/stylesheets/custom.css.scss */
#intro {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -30px;
  background: #950001 url(intro.gif) 480px 50% no-repeat;
  border: #780000;
  padding-left: 58px;
}

/* line 1030, ../../app/assets/stylesheets/custom.css.scss */
#failure {
  background: #b70101 url(delete.png) 15px 50% no-repeat;
  border: #780000;
}

/* line 1034, ../../app/assets/stylesheets/custom.css.scss */
#wrapper {
  width: 250px;
  height: 60px;
  float: left;
  position: relative;
  margin: auto;
  left: 25px;
  margin-top: 35px;
}

/* line 1043, ../../app/assets/stylesheets/custom.css.scss */
#wrapper_file {
  width: 330px;
  height: 60px;
  float: left;
  position: relative;
  left: 25px;
  clear: left;
  margin-left: 26px;
}

/* line 1052, ../../app/assets/stylesheets/custom.css.scss */
#fileinput {
  position: absolute;
  width: 75px;
  height: 26px;
  top: 0;
  left: 0;
  visibility: hidden;
}

/* line 1060, ../../app/assets/stylesheets/custom.css.scss */
#browse, #browse2 {
  position: absolute;
  width: 75px;
  height: 22px;
  top: 0;
  left: 0;
  background: url(upload_button.gif) left top no-repeat;
  text-align: center;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  text-shadow: 1px 1px 0 black;
  padding-top: 5px;
}

/* line 1076, ../../app/assets/stylesheets/custom.css.scss */
#browse:hover, #browse2:hover {
  background: url(upload_button_hover.gif) left top no-repeat;
}

/* line 1079, ../../app/assets/stylesheets/custom.css.scss */
#filename, #filename2 {
  padding-top: 4px;
  position: absolute;
  width: 167px;
  height: 22px;
  left: 75px;
  font-size: 16px;
  background: url(file.gif) left top no-repeat;
  overflow: hidden;
  padding-left: 8px;
}

/* line 1091, ../../app/assets/stylesheets/custom.css.scss */
.button {
  cursor: pointer;
  background-image: url(button.gif);
  background-repeat: no-repeat;
  height: 56px;
  width: 203px;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 0 black;
  border: none;
  padding-bottom: 12px;
  text-transform: uppercase;
}

/* line 1107, ../../app/assets/stylesheets/custom.css.scss */
.button:hover {
  background-image: url(button_hover.gif);
}

/* line 1110, ../../app/assets/stylesheets/custom.css.scss */
.button:active {
  background-image: url(button_active.gif);
  padding-bottom: 6px;
}

/* line 1114, ../../app/assets/stylesheets/custom.css.scss */
#upload .button {
  margin-left: 2px;
}

/* line 1117, ../../app/assets/stylesheets/custom.css.scss */
#centered {
  margin: auto;
  margin-top: 18px;
  height: 300px;
  width: 300px;
  text-align: center;
}

/* line 1124, ../../app/assets/stylesheets/custom.css.scss */
#centered h1 {
  font-size: 32px;
  color: #600001;
}

/* line 1128, ../../app/assets/stylesheets/custom.css.scss */
#wrapper .button {
  margin: 20px 0 0 6px;
}

/* line 1132, ../../app/assets/stylesheets/custom.css.scss */
#animation {
  text-align: center;
}

/* line 1135, ../../app/assets/stylesheets/custom.css.scss */
#txt {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 1144, ../../app/assets/stylesheets/custom.css.scss */
.istyle input {
  clear: right;
  margin-bottom: 15px;
  background-color: #600001;
  border: solid 1px #2f393f;
  height: 24px;
  width: 200px;
  padding: 4px;
  font-size: 16px;
  color: white;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 1156, ../../app/assets/stylesheets/custom.css.scss */
.istyle textarea {
  font-family: Arial,Helvetica,sans-serif;
  clear: right;
  margin-bottom: 15px;
  background-color: #600001;
  border: solid 1px #2f393f;
  padding: 4px;
  font-size: 16px;
  color: white;
  height: 150px;
  width: 350px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  resize: none;
}

/* line 1172, ../../app/assets/stylesheets/custom.css.scss */
.istyle input:focus, .istyle textarea:focus {
  border: solid 1px black;
  background-color: #770b0c;
}

/* line 1176, ../../app/assets/stylesheets/custom.css.scss */
.istyle .button {
  cursor: pointer;
  background-image: url(button.gif);
  background-repeat: no-repeat;
  height: 56px;
  width: 203px;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 0 black;
  border: none;
  padding-bottom: 12px;
  margin-top: 18px;
}

/* line 1191, ../../app/assets/stylesheets/custom.css.scss */
.istyle .button:hover {
  background-image: url(button_hover.gif);
}

/* line 1194, ../../app/assets/stylesheets/custom.css.scss */
.istyle .button:active {
  border: none;
  outline: none;
  padding-bottom: 6px;
  background-image: url(button_active.gif);
}

/* line 1200, ../../app/assets/stylesheets/custom.css.scss */
.istyle .button:focus {
  border: none;
  outline: none;
}

/* line 1205, ../../app/assets/stylesheets/custom.css.scss */
#upload label.error {
  float: right;
  clear: none;
  margin-top: 2px;
}

/* line 1210, ../../app/assets/stylesheets/custom.css.scss */
#upload input {
  clear: both;
}

/* line 1213, ../../app/assets/stylesheets/custom.css.scss */
label.error {
  text-transform: none;
}

/* line 1219, ../../app/assets/stylesheets/custom.css.scss */
.items_rank {
  display: block;
  position: relative;
  z-index: 10;
  top: -150px;
  left: -9px;
  background-image: url(ribbon.png);
  width: 70px;
  height: 39px;
  padding-top: 8px;
  text-align: center;
  color: white;
  opacity: 1;
}

/* line 1234, ../../app/assets/stylesheets/custom.css.scss */
.tooltip {
  padding-top: 30px;
  display: none;
  background: transparent url(black_arrow_bottom.png);
  font-size: 12px;
  height: 65px;
  width: 160px;
  padding: 25px;
  color: #111;
}

/* line 1244, ../../app/assets/stylesheets/custom.css.scss */
.tooltip h6 {
  text-align: center;
}

/* line 1248, ../../app/assets/stylesheets/custom.css.scss */
.share_facebook, .share_twitter {
  margin-top: 4px;
  width: 34px;
  height: 34px;
  display: block;
  float: left;
}

/* line 1256, ../../app/assets/stylesheets/custom.css.scss */
.share_facebook {
  background-image: url("share_fb.gif");
}

/* line 1261, ../../app/assets/stylesheets/custom.css.scss */
.share_facebook:hover {
  background-image: url("share_fb_hover.gif");
}

/* line 1265, ../../app/assets/stylesheets/custom.css.scss */
.share_twitter {
  clear: left;
  background-image: url("share_twitter.gif");
}

/* line 1269, ../../app/assets/stylesheets/custom.css.scss */
.share_twitter:hover {
  background-image: url("share_twitter_hover.gif");
}

/* line 1273, ../../app/assets/stylesheets/custom.css.scss */
#profile_info {
  width: 500px;
  margin: auto;
  color: #111;
}

/* line 1278, ../../app/assets/stylesheets/custom.css.scss */
#profile_info img {
  float: right;
  height: 185px;
  margin-top: 40px;
}

/* line 1285, ../../app/assets/stylesheets/custom.css.scss */
#profile_info h2 {
  margin-top: 8px;
  font-size: 32px;
}

/* line 1289, ../../app/assets/stylesheets/custom.css.scss */
#profile_info h3 {
  font-size: 20px;
  color: #600001;
}

/* line 1294, ../../app/assets/stylesheets/custom.css.scss */
#profile_info span {
  float: left;
}

/* line 1299, ../../app/assets/stylesheets/custom.css.scss */
#profile_info ul {
  list-style: none;
}

/* line 1302, ../../app/assets/stylesheets/custom.css.scss */
#profile_info a {
  color: #600001;
  text-decoration: none;
}

/* line 1306, ../../app/assets/stylesheets/custom.css.scss */
#profile_info a:hover {
  color: black;
}

/* line 1310, ../../app/assets/stylesheets/custom.css.scss */
.leader_thumb {
  margin: 8px 8px 14px 8px;
  float: left;
  width: 110px;
  height: 110px;
}

/* line 1316, ../../app/assets/stylesheets/custom.css.scss */
.leader_thumb img {
  position: relative;
  top: -18px;
}

/* line 1320, ../../app/assets/stylesheets/custom.css.scss */
.leader_thumb a.watch {
  position: relative;
  z-index: 10;
  display: block;
  width: 20px;
  height: 18px;
  background-image: url("watch.png");
}

/* line 1328, ../../app/assets/stylesheets/custom.css.scss */
#leader_all {
  display: none;
  clear: both;
  width: 605px;
  margin: auto;
}

/* line 1334, ../../app/assets/stylesheets/custom.css.scss */
.clear {
  clear: both;
}

/* line 1337, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile {
  margin: 25px auto 0 auto;
  background-color: transparent;
  background-image: url(id.png);
  width: 600px;
  height: 378px;
  border: 0;
  color: #6d0001;
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  margin-top: 45px;
  background-color: transparent;
}

/* line 1352, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile h2, #overlay_view_profile h3, #overlay_view_profile h4 {
  float: right;
  clear: right;
  display: block;
  width: 200px;
  margin: 0 48px 0 0;
  text-align: center;
}

/* line 1361, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile h2 {
  font-size: 28px;
}

/* line 1364, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile h3 {
  font-size: 24px;
  color: #6b0001;
}

/* line 1368, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile h4 {
  width: 275px;
  margin: 10px 14px 0 0;
  font-size: 18px;
}

/* line 1373, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile h1 {
  text-align: center;
  margin: 0 0 10px 0;
  color: #FFF;
  font-size: 24px;
}

/* line 1380, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile ul a {
  color: #FFF;
}

/* line 1383, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile ul a:hover {
  text-decoration: none;
}

/* line 1386, ../../app/assets/stylesheets/custom.css.scss */
#overlay_view_profile ul {
  font-size: 20px;
  margin: auto;
  list-style-type: none;
  text-align: center;
  color: #FFF;
}

/* line 1394, ../../app/assets/stylesheets/custom.css.scss */
#profile_videos {
  float: left;
  background-image: url(trans2.png);
  width: 240px;
  margin: 120px 0 0 25px;
  padding: 10px;
  min-height: 200px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* line 1407, ../../app/assets/stylesheets/custom.css.scss */
#profile_videos span {
  float: right;
  margin-right: 5px;
}

/* line 1412, ../../app/assets/stylesheets/custom.css.scss */
#id_wrapper {
  width: 185px;
  height: 185px;
  margin: 31px 55px 0 0;
  float: right;
  text-align: center;
}
/* line 5, ../../app/assets/stylesheets/sessions.css.scss */
form {
  padding-top: 30px;
  margin: auto;
}

/* line 11, ../../app/assets/stylesheets/sessions.css.scss */
#overlay_login form {
  width: 480px;
  height: 300px;
}

/* line 15, ../../app/assets/stylesheets/sessions.css.scss */
#overlay_join form {
  width: 470px;
}

/* line 19, ../../app/assets/stylesheets/sessions.css.scss */
#overlay_login h1 {
  color: #6d0001;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

/* line 26, ../../app/assets/stylesheets/sessions.css.scss */
#overlay_join h1 {
  color: #6d0001;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

/* line 34, ../../app/assets/stylesheets/sessions.css.scss */
#background_overlay .fill_in {
  margin-left: 250px;
  margin-top: 60px;
  float: center;
}

/* line 40, ../../app/assets/stylesheets/sessions.css.scss */
#background_overlay input#session_email {
  margin-left: 40px;
  width: 250px;
}

/* line 45, ../../app/assets/stylesheets/sessions.css.scss */
#background_overlay input#session_password {
  margin-left: 10px;
  width: 250px;
}

/* line 50, ../../app/assets/stylesheets/sessions.css.scss */
#background_overlay input.button_submit {
  float: left;
  margin-top: 65px;
  margin-left: -200px;
}
