


if("<%= escape_javascript(@fill) %>" == "true"){
	t = "<%=escape_javascript(@string) %>";
	$("#leaderboard_select").html("");
	if(t==""){
		$("#leaderboard_select").append('<option value="asdf">All Leaderboards</option>');
	}else{
		
		t = t.substring(0,t.length-1).split("|");
		
		alert(t);
		// this code should empty the options which exist and fill the list with all the options in @string making sure the first option is what is visible 
		
		
		for(var leaderboard in t){
			$("#leaderboard_select").append('<option value="asdf">'+t[leaderboard]+'</option>');	
		}
	}
	
}

$('#leader_switch').html(
"<%=escape_javascript(render('leaderboards/leader_switch', category: @category, leaderboard: @leaderboard)) %>");
		
$('#leaders_container').html("<%=escape_javascript(render('videos/leaders', videos: @videos))%>");
