   <%= link_to(vid_swap_path(:video => @video_list[@counter].id, :bank => @bank, :board => @board ), :method => :post, "data_type" => :js, :remote=> true) do %>
   <div>   
   	
       <%= image_tag("http://img.youtube.com/vi/#{@video_list[@counter].yt_video_id}/0.jpg", :height =>"100%", :width => "100%", :rel => "#{@video_list[@counter].yt_video_id}") %>
       <span class="items_rank">
       <%= num_rank(@counter+1) %>
       </span>
           <div class="items_description">
      		<div class="items_description_content">
      		<%= @video_list[@counter].title %>
      		</div> 
                <% if current_user %>
 		 <% if @video_list[@counter].user_id == current_user.id || current_user.admin?%>
		
 		 <%end%>
                <% end %>
  		   </div>
  </div>
  <% end %>
