<style>
	#header{
	 display:none;
	}
</style>

<div id="centered" class="istyle">
	<h1>Tell us about your video..</h1>
	<h4>Yes, a catchier title will get you more views </h4>

	<form novalidate="novalidate" accept-charset="UTF-8" action="/upload" class="new_video" id="upload" method="post"><div style="margin:0;padding:0;display:inline">
		
		<input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="r4IOVjQW2A4QhHBH7iBqfDQGaXV9EOnB12VVil8KdZg=" type="hidden"></div>
	
	<label for="video_title">Title</label>
	<input id="video_title" name="video[title]" size="30" type="text">
	
	<label for="video_description">Description</label>
	<textarea cols="40" id="video_description" name="video[description]" rows="20"></textarea>

         <select name="leaderboard" style="width:100px"> 
          <% all_categories.each do |cat| %> 

          <optgroup label= "Category: <%= cat.category_name %>" >
          <% leaderboard_list(cat).each do |l| %> 
          <option> <%= l.leaderboard_name %> </option>
          <% end %>

          </optgroup>
           <% end %> 
        </select>

	<input id="video_is_private" name="video[is_private]" value="true" type="checkbox">
	<label for="is_private" id="is_private">I want my video only seen to skillmad members and not on youtube</label>
    
          <input class="button" name="commit" value="submit" type="submit">
</form>

        



     
</div>


