<style>
	#header{
		display:none;
	}

</style>
<div id="centered">
	<h1>Your upload is being processed by youtube. this window will close in 5 seconds...</h1>

<div id="animation">

	<script>
	setInterval(function(){window.close()},5000);
	</script>