<div class="leader_thumb">

   <%= link_to( "", vid_bank_path(:user_id => user.id), :class=>"watch scroll", 
   :method => :post, "data_type" => :js, :remote=> true, 
   :onclick => "$('html,body').animate({scrollTop:$('#video_container h1').offset().top}, 500)")%>
   
    <%= link_to("#", :class => "leader_thumb_link", :onclick => select_user(user), :remote => true) do %> 
    <%= image_tag user.avatar.url(:medium) %> 
    <%= user.name %>
    <% end %>   
  
</div> 
