// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 form{
  padding-top: 30px;
  margin:auto;
  
  
}

#background_overlay .fill_in{
  margin-left: 250px;
  margin-top: 60px;
  float: center;
}

#background_overlay input#session_email{
  margin-left: 40px;
  width:250px;
}

#background_overlay input#session_password{
  margin-left: 10px;
  width:250px;
}

#background_overlay input.button_submit{
  float:left;
  margin-top: 65px;
  margin-left: -200px;
  
}
