		<div id="categories">
	<ul>


               <% all_categories.each do |cat| %>

 		<li> <%= link_to cat[0] , home_path(:category => cat[0]), :remote => true %> </li>
  
	       <% end %>
		
	</ul>
                </div>
