		<div id="categories">
	<ul>


               <% all_categories.each do |cat| %>

 		<li> <%= link_to cat.category_name , home_path(:category => cat.category_name), :remote => true %> </li>
  
	       <% end %>
		
	</ul>
                </div>
