
	<select id="category_select" class="select_style" name="category" >
		<% @category_list.each do |category| %>
		<option value="<%= category[0] %>"><%= category[0] %></option>
		<%end%>
	</select>


