
<style> 
label.error{
 margin-left: 50px;

 font-size: 12px;
 float:right;
 
}

</style>

<h2> Use your true identity for fame</h2><h3>or an alter ego to avoid embarassment</h3>
 <%= form_for(:user, :url => change_name_path(:id => current_user.id), :html => { :id => 'change_username', :class => 'istyle'}) do |f| %>
      
    
      <table>
      	<tr>
      		<td> <%= f.label :name, "New Username" %></td>
      	</tr>
   		<tr>
      		<td>  <%= f.text_field :name %></td>
      	</tr>
      	<tr>
      		<td> <%= f.submit "change", :class => "button" %></td>
      	</tr>
      	<tr>
      		<td>   <label class="error" for="user_name" generated="true"></label></td>
      	</tr>



    </table>
 <%end%>


<script> 

     $('#change_username').validate({
 		rules: {
  			"user[name]": {required: true, remote:"/check_name"}
  		       },
  		messages: {
  			"user[name]":{
  				remote: "This name is already taken"
  			}
  			
  	           }		
  	});

</script>
