<ul>
	<li><%= link_to "home", home_path %></li>
	<li>|</li>
	<li><a href="#leaderboard" class="scroll">leaders</a></li>
	<li>|</li>
	<li><%= link_to "upload", new_video_path %></li>
	<li>|</li>
	<li><a href="#" rel="#overlay_contact">contact</a></li>
</ul>
<h2>
Copyright &copy; <%= Time.now.year %> SKILLMAD
</h2>

