
     <div id="lander_info">
		<div>
			<%= image_tag("star.png", :alt => "Crown Icon") %>
			<p><span>Find Skilled People</span>
			Whether you need a DJ or a tutor, connect with talented classmates.</p>
		</div>
		<div>
			<%= image_tag("speech.png", :alt => "Crown Icon") %>
			<p><span>Recieve Feedback</span>
			Get honest opinions from your classmates with the built-in rating system</p>
		</div>
		<div>
			<%= image_tag("trophy.png", :alt => "Crown Icon") %>
			<p><span>Share and Compete</span>
			Battle for a chance to create a legacy, and leave your mark in Madison</p>
		</div>
		<div>
			<%= image_tag("crown.png", :alt => "Crown Icon") %>
			<p><span>Get Recognized</span>
			Conquer the campus -- Get noticed on campus for what you do best. </p>
		</div>
	</div>

