 <div id="leaderboard_back">

<div id="leaderboard">
		<div id="leaderboard_title"></div>
		<div id="leaderboard_all"></div>
		<div id="leaderboard_request"><a id="over" class="tip" title="Request leaderboards for content you want to see or share!" rel="#overlay_request">REQUEST LEADERBOARD</a></div>
		<div id="backtotop"><a class="scroll" href="#header"></a></div>
		<div id="leader_all">
			
		<% @user_list.each do |user| %>
		<%= render :partial => "users/user_thumbs", :locals => {:user => user}%>
			
 		<% end %>
		<div class="clear"></div>
		</div>
       <div>
       <% @user_list.first(5).each_with_index do |user, i| %>
       <%= render :partial => "users/leader", :locals => {:user => user, :i => i}%>
       <% end %>
       </div>
</div>
<div id="footer">
<%=render :partial=>"layouts/footer"%>
</div>

</div>
