<style>
	html{
	 overflow-y: visible;
	}
	#header_logo{
	position:absolute;
	left:10px;
	top:19px;
	margin:0;
 	}
</style>
<div id="about">  
<h1> Our fellow Students... </h1>

<p> We give you skillmad.com, A video sharing site just for UW. </p>
<p> Why? Because Madison is filled with awesome students doing awesome things all the time, but theres no place to share this awesomeness between us.


 Until Now... </p>

<p> Here at skillmad, we've created a system to find the best UW has to offer, for anything and everything: </p>


<p> All the people who upload, and all their content, are on a leaderboard, making it easy to find and rank the best content </p>

<%= image_tag "/assets/animation.gif" %> 

<p> When you upload, simply choose to upload to a leaderboard that already exists, or create your own. </p>


<%= image_tag "/assets/animation.gif" %> 

<p> This way, you can find the best at something general such as singing, or something specific, like making a sandwich while doing a kegstand (we believe in you) </p>



<p> Hopefully, this gives you guys a chance to have some friendly crazy competition, or show off some truly professional talent </p>





<p> In a campus known for working hard and playing hard, we hope you join us on our quest to find Madtowns Finest!  </p>





<p> See you on the leaderboards, Skillmad</p>
 </div>
