<style>
#setting_updates h3{
	color:#555555;
}
#setting_options{
	width:230px;
	padding:10px;
	float:left;
	clear:left;
}
#setting_updates{
	width:780px;
	text-align:center;
	padding-left:10px;
	padding-top:10px;
	margin-top:-10px;
	min-height:500px;
	float:left;
	border-left:1px solid #CCC;
}
#setting_options a.unselected_option {
  
  color: #000;
}

#setting_options a.selected_option {
    color:rgb(96,0,1);
}
#setting_options li{
	list-style-type:none;
}

#id_card a{

  color: #FFF;
}

#background{
  padding-top:0;
}

#header_categories{
  display:none;	
}
#change_username{
	width:220px;
}
#setting_wrapper{
	float:left;
}
</style>


	<div id= "setting_options">
   <ul>
    <li> <h3> <%= link_to "Change Account Name", settings_swap_path(:setting => "change_username"), "data_type" => :js, :class=> "selected_option", :remote => true  %> </h3> </li>
    <li> <h3> <%= link_to "Change Password", settings_swap_path(:setting => "change_pass"), "data_type" => :js, :class=>"unselected_option" ,:remote => true   %> </h3> </li>
    <% if current_user.hasVideo || current_user.admin %> 
    <li> <h3> <%= link_to "Manage Videos", settings_swap_path(:setting => "manage_videos", :id => current_user.id), "data_type" => :js, :class=> "unselected_option", :remote => true  %> </h3> </li>
    <% end %> 
   </ul>
 </div>
 <div id="setting_wrapper">
 <div id= "setting_updates"> 
  <%= render :partial => 'layouts/change_username' %>
 </div>
<div style="clear:both"></div>
 
</div>
<div id=id_card> </div>


<script>
$("a.unselected_option, a.selected_option").click(function(){
    if ($(this).hasClass("unselected_option")) {
         $("a.selected_option").removeClass("selected_option").addClass("unselected_option")
         $(this).removeClass("unselected_option").addClass("selected_option");
    }
    
});
</script>
